---
import Icon from "astro-icon";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Hi there, I'm teaishealthy&nbsp👋</h1>
  <div class="subtitle">or tea for short</div>
  <p class="main-content">
    Hey there, I'm tea, an aspiring software developer from Germany 🇩🇪. I love
    tinkering in Python, creating cross-platform apps in Dart and Flutter, and
    contributing to various open source projects.
  </p>
  <p class="main-content">
    I am currently working on <a href="/projects#seamless-jukebox"
      >Seamless Jukebox
    </a> and <a href="/projects#tinychat">tinychat!</a>
  </p>

  <div class="socials">
    <a
      href="https://github.com/teaishealthy"
      aria-label="GitHub"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="simple-icons:github" class="icon" />
    </a>
    <a
      aria-label="Discord"
      href="https://discord.com/users/520323352393547802"
      rel="noopener noreferrer"
    >
      <Icon name="simple-icons:discord" class="icon" />
    </a>
    <a href="mailto:teaishealthy@protonmail.com" aria-label="Mail">
      <Icon name="bi:envelope-fill" class="icon" />
    </a>
  </div>
</Layout>

<style>
  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .icon {
    height: 30px;
    width: 30px;
  }

  .subtitle {
    font-size: 1.2rem;
    font-weight: 300;
  }
</style>
