---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Hi there, I'm tea&nbsp👋</h1>
  <p class="main-content">
    Hey, I'm tea, a professional programmer and a computer science student at
    FOM University in Germany 🇩🇪. I started out as an aspiring developer and now
    get to turn my passion for coding into both work and study. I love building
    things in Python and creating cross-platform apps with Dart and Flutter. I'm
    a big fan of open source, and I enjoy contributing to projects that I find
    interesting or that challenge me in new ways.
  </p>

  <p class="main-content">
    I really enjoy working with APIs and figuring out how to make different
    systems talk to each other. Whether it's building bots, automating tasks, or
    creating tools to improve workflows, I like experimenting with frameworks
    and writing my own (meta-)frameworks to make things more efficient and fun
    to use.
  </p>

  <p class="main-content">
    Outside of APIs and backend work, I spend a lot of time creating websites
    and web apps. I like using different languages and frameworks to build
    things that are clean, functional, and easy to use.
  </p>

  <p class="main-content">
    If you'd like to get in touch, the best way is through Discord — I'm always
    active there, so you're most likely to catch me quickly. You can also reach
    me by email, but I might miss it, so don't hesitate to follow up if I don't
    respond right away. If you're on Keybase, feel free to message me there too
    (see links below)!
  </p>

  <div class="socials">
    <a
      href="https://github.com/teaishealthy"
      aria-label="GitHub"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="simple-icons:github" class="icon" />
    </a>
    <a
      aria-label="Discord"
      href="https://discord.com/users/520323352393547802"
      rel="noopener noreferrer"
    >
      <Icon name="simple-icons:discord" class="icon" />
    </a>
    <a
      aria-label="Keybase"
      href="https://keybase.io/teaishealthy/"
      rel="noopener noreferrer"
    >
      <Icon name="simple-icons:keybase" class="icon" />
    </a>
    <a href="mailto:teaishealthy@protonmail.com" aria-label="Mail">
      <Icon name="bi:envelope-fill" class="icon" />
    </a>
  </div>
</Layout>

<style>
  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .icon {
    height: 30px;
    width: 30px;
    color: var(--text-color);
  }

  .subtitle {
    font-size: 1.2rem;
    font-weight: 300;
  }
</style>
