---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import Project from "../components/Project.astro";
import projects from "../projects.json";
---

<Layout>
  <h1>Projects</h1>
  {
    projects
      .map((project) => {
        return {
          project: project,
          icons: project.icons.map((icon) => <Icon class="icon" name={icon} />),
        };
      })
      .map((p) => <Project {...p.project}>{p.icons}</Project>)
  }
</Layout>

<style>
  .icon {
    height: 1rem;
    margin: 0 0.1rem;
  }
</style>
