---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Projects</h1>

  <h2>Seamless Jukebox</h2>
  <p class="main-content">
    <span>WIP</span> A full-stack web application that allows users to play music
    from Spotify without silence inbetween songs.
  </p>
</Layout>

<style>
  img {
    height: 15rem;
  }

  span {
    margin-right: 0.2rem;
  }
</style>
