---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Tool from "../components/tool.astro";
---

<Layout>
  <h1>Tools I use</h1>
  <p></p>
  <h2>Languages</h2>
  <div class="flex flex-row gap-1">
    <Tool
      name="Python"
      icon="simple-icons:python"
      link="https://www.python.org/about/"
    />
    <Tool
      name="Python"
      icon="simple-icons:python"
      link="https://www.python.org/about/"
    />
    <Tool name="Dart" icon="simple-icons:dart" link="https://dart.dev/" />
    <Tool
      name="Javascript"
      icon="simple-icons:javascript"
      link="https://www.javascript.com/"
    />
    <Tool
      name="HTML"
      icon="simple-icons:html5"
      link="https://wikipedia.org/wiki/HTML"
    />
    <Tool
      name="CSS"
      icon="simple-icons:css3"
      link="https://wikipedia.org/wiki/css"
    />
    <Tool name="Sass" icon="simple-icons:sass" link="https://sass-lang.com/" />
    <Tool
      name="Markdown"
      icon="simple-icons:markdown"
      link="https://wikipedia.org/wiki/Markdown"
    />
  </div>

  <h2>Frameworks</h2>
  <div class="flex flex-row gap-1">
    <Tool
      name="Node"
      icon="simple-icons:nodedotjs"
      link="https://nodejs.org/"
    />
    <Tool
      name="Flutter"
      icon="simple-icons:flutter"
      link="https://flutter.dev/"
    />
    <Tool
      name="Flask"
      icon="simple-icons:flask"
      link="https://flask.palletsprojects.com/"
    />
    <Tool name="React" icon="simple-icons:react" link="https://reactjs.org/" />
    <Tool
      name="Chakra"
      icon="simple-icons:chakraui"
      link="https://chakra-ui.com/"
    />
    <Tool
      name="Arduino"
      icon="simple-icons:arduino"
      link="https://www.arduino.cc/"
    />
    <Tool
      name="Astro"
      icon="simple-icons:astro"
      link="https://www.astro.build/"
    />
  </div>

  <p></p>
  <h2>Databases</h2>

  <div class="flex flex-row gap-1">
    <Tool
      name="MongoDB"
      icon="simple-icons:mongodb"
      link="https://www.mongodb.com/"
    />
    <Tool
      name="SQLite"
      icon="simple-icons:sqlite"
      link="https://www.sqlite.org/index.html"
    />
  </div>

  <h2>Tools</h2>

  <div class="flex flex-row gap-1">
    <Tool
      name="Visual Studio Code"
      link="https://code.visualstudio.com/"
      icon="simple-icons:visualstudiocode"
    />
    <Tool name="Git" icon="simple-icons:git" link="https://git-scm.com/" />
    <Tool
      name="Docker"
      icon="simple-icons:docker"
      link='https://www.docker.com/"'
    />
    <Tool
      name="Windows Terminal"
      icon="simple-icons:windowsterminal"
      link='ttps://apps.microsoft.com/store/detail/windows-terminal/9N0DX20HK701"'
    />
    <Tool name="Caddy" icon="file-icons:caddy" link="https// caddyserver.com" />
    <Tool name="Vite" icon="file-icons:vite" link="https://vitejs.dev/" />
  </div>
</Layout>

<style>
  [astro-icon] {
    width: 0.9rem;
    margin: 0 4px;
    padding-top: 3.4px;
    color: var(--text-color) !important;
    /* :mmwhereismynose:² */
  }

  span {
    align-items: center;
  }

  .tool {
    display: inline-flex;
    position: relative;
  }

  .tool > span {
    position: absolute;
    top: 0;
    opacity: 0;
    background-color: #000000;
    transform: translate(-50%, -100%);
    padding: 0.5em;
    border-radius: 0.5em;
    transition: ease-in-out 100ms all;
  }

  .tool:hover > span {
    opacity: 1;
    z-index: 1;
    background-color: #0e0e0e;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
</style>
