---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Tools I use</h1>
  <p></p>
  <h2>Languages</h2>
  <a href="https://www.python.org/about/">
    <span class="tool">
      <Icon name="simple-icons:python" /><span>Python</span>
    </span>
  </a>
  <a href="https://dart.dev/">
    <span class="tool">
      <Icon name="simple-icons:dart" /><span>Dart</span>
    </span>
  </a>
  <a href="https://www.javascript.com/">
    <span class="tool">
      <Icon name="simple-icons:javascript" /><span>Javascript</span>
    </span>
  </a>
  <a href="https://wikipedia.org/wiki/HTML">
    <span class="tool">
      <Icon name="simple-icons:html5" /><span>HTML</span>
    </span>
  </a>
  <a href="https://wikipedia.org/wiki/css">
    <span class="tool">
      <Icon name="simple-icons:css3" /><span>CSS</span>
    </span>
  </a>
  <a href="https://sass-lang.com/">
    <span class="tool">
      <Icon name="simple-icons:sass" /><span>Sass</span>
    </span>
  </a>
  <a href="https://wikipedia.org/wiki/Markdown">
    <span class="tool">
      <Icon name="simple-icons:markdown" /><span>Markdown</span>
    </span>
  </a>

  <p></p>
  <h2>Frameworks</h2>
  <a href="https://nodejs.org/">
    <span class="tool">
      <Icon name="simple-icons:nodedotjs" /><span>Node.js</span>
    </span>
  </a>
  <a href="https://flutter.dev/">
    <span class="tool">
      <Icon name="simple-icons:flutter" /><span>Flutter</span>
    </span>
  </a>
  <a href="https://flask.palletsprojects.com/">
    <span class="tool">
      <Icon name="simple-icons:flask" /><span>Flask</span>
    </span>
  </a>
  <a href="https://reactjs.org/">
    <span class="tool">
      <Icon name="simple-icons:react" /><span>React</span>
    </span>
  </a>

  <a href="https://www.arduino.cc/">
    <span class="tool">
      <Icon name="simple-icons:arduino" /><span>Arduino</span>
    </span>
  </a>

  <a href="https://www.astro.build/">
    <span class="tool">
      <Icon name="simple-icons:astro" /><span>Astro</span>
    </span>
  </a>

  <p></p>
  <h2>Databases</h2>

  <a href="https://www.mongodb.com/">
    <span class="tool">
      <Icon name="simple-icons:mongodb" /><span>MongoDB</span>
    </span>
  </a>
  <a href="https://www.sqlite.org/index.html">
    <span class="tool">
      <Icon name="simple-icons:sqlite" /><span>SQLite</span>
    </span>
  </a>

  <p></p>
  <h2>Tools</h2>

  <a href="https://code.visualstudio.com/">
    <span class="tool">
      <Icon name="simple-icons:visualstudiocode" /><span
        >Visual Studio Code
      </span>
    </span>
  </a>
  <a href="https://git-scm.com/">
    <span class="tool">
      <Icon name="simple-icons:git" /><span>Git</span>
    </span>
  </a>

  <a href="https://www.docker.com/"
    ><span class="tool">
      <Icon name="simple-icons:docker" /><span>Docker&nbsp;</span>
      <!-- Not sure why this is -->
    </span>
  </a>

  <a
    href="https://apps.microsoft.com/store/detail/windows-terminal/9N0DX20HK701"
    ><span class="tool">
      <Icon name="simple-icons:windowsterminal" /><span>Windows Terminal</span>
    </span>
  </a>

  <a href="https://caddyserver.com/">
    <span class="tool">
      <Icon name="file-icons:caddy" /><span>Caddy</span>
    </span>
  </a>
</Layout>

<style>
  [astro-icon] {
    width: 0.9rem;
    margin: 0 4px;
    padding-top: 3.4px;
    /* :mmwhereismynose: */
  }

  span {
    align-items: center;
  }

  .tool {
    display: inline-flex;
  }
</style>
