---
const currentPage = Astro.canonicalURL.pathname;
const pages = {
  "/": "/",
  "/tools/": "/tools",
  "/projects/": "/projects",
};
---

<nav>
  {Object.keys(pages)
    .filter((key) => key !== currentPage)
    .map((key) => <a href={key}>{pages[key]}</a>)}
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }
</style>
