---
const currentPage = Astro.url.pathname;
const pages = {
  "/": "/",
  "/projects/": "/projects",
  "/tools/": "/tools",
};
---

<nav class="flex justify-aroud mt-4">
  {
    Object.keys(pages)
      .filter((key) => key !== currentPage)
      .map((key) => <a href={key}>{pages[key]}</a>)
  }
</nav>
