---
const { name, description, link, isWIP } = Astro.props;
---

<div class="flex">
  <h2 id={name.toLowerCase().replace(/ /g, "-")}>
    {name}
  </h2>
  <div class="icons"><slot /></div>
</div>
<p class="main-content">
  {isWIP && <span class="wip">WIP</span>}{description}
  <br />
  <a href={link}>{link}</a>
</p>

<style>
  h2 {
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    width: max-content;
  }
  img {
    height: 15rem;
  }

  div.flex {
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .spacer {
    display: absolute;
    width: 1rem;
  }

  .wip {
    font-weight: bold;
    font-family: monospace;
  }

  span {
    margin-right: 0.2rem;
  }

  p {
    margin-top: 0;
  }

  .flex {
    display: inline-flex;
    gap: 0.5rem;
  }

  .icons {
    height: 100%;
  }
</style>
