---
const { name, description, link, isWIP } = Astro.props;
---

<div class="inline-flex gap-2 items-center w-full justify-between">
  <h2
    class="m-0 my-1 text-2xl w-max"
    id={name.toLowerCase().replace(/ /g, "-")}
  >
    {name}
  </h2>
  <div class="h-full flex"><slot /></div>
</div>
<p class="main-content mt-0">
  {isWIP && <span class="mr-[0.2rem] font-semibold font-mono">WIP</span>}{
    description
  }
  <br />
  <a href={link}>{link}</a>
</p>
