---
import Links from "../components/Links.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My personal website" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="d-h_oLPXC8tBlH3SZ-vAe7sEXSn3usXbvQKOr5Spu4I"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>teaishealthy</title>
    <style>
      :global(:root) {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --background-color: white;
        --text-color: black;
        --link-color: hsl(196, 82%, 51%);
      }

      :global(:root.dark) {
        --background-color: hsl(0, 2%, 10%);
        --text-color: white;
        --link-color: lightblue;
      }

      #colormode {
        position: fixed;
        top: 0;
        right: 0;
        padding: 0.5rem;
        cursor: pointer;
      }

      html {
        font-family: system-ui, sans-serif;
        font-size: var(--font-size-base);
        color: var(--text-color);
        background-color: var(--background-color);
      }

      body {
        height: 100vh;
        margin: 0;
      }

      main {
        margin: auto;
        padding: 1em;
        max-width: 60ch;
      }

      :global(h1) {
        margin-top: 2rem;
        font-weight: normal;
        font-size: 5vh;
      }
      :global(h2) {
        margin-top: 2rem;
        font-weight: normal;
      }

      :global(code) {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      :global(.main-content) {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        font-weight: 300;
        text-align: justify;
      }

      :global(a) {
        color: var(--link-color);
        text-decoration: none;
      }

      :global([astro-icon]) {
        color: white;
      }
    </style>
  </head>

  <body>
    <main>
      <Links />
      <div id="colormode" onclick="colormode()">🌞</div>
      <slot />
    </main>
  </body>

  <script>
    window.setColormode = (mode) => {
      localStorage.setItem("color-mode", mode);

      if (mode === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
      document.querySelector("#colormode").innerHTML =
        mode === "dark" ? "🌚" : "🌞";
    };

    window.colormode = () => {
      const currentColorMode = localStorage.getItem("color-mode");
      const nextColorMode = currentColorMode === "dark" ? "light" : "dark";
      setColormode(nextColorMode);
    };
    let colorMode = localStorage.getItem("color-mode");

    if (!colorMode) {
      colorMode = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }
    if (!colorMode) {
      colorMode = "light";
    }
    setColormode(colorMode);
  </script>
</html>
